*.cache
*.log
*.log.*
*.pid
*.wpr
*.wpu
*.a
*.o
*.py[co]
*.so
*.sw[nop]
__pycache__
*~
.#*
[#]*#
dropin.cache
RE:\.?[^.]+
*.e4p
.pytest_cache
docu
Makefile
*.iml
build
dist
*.egg-info/
.mypy_cache/
site/
meta.md5
environment.yml
